.DS_Store
node_modules
/dist
element-variables.scss
# local env files
.env.local
.env.*.local
coverage
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

#Electron-builder output
/dist_electron
